<header class="page-header">
  <h1><%= title "Project categories" %></h1>
  <%= link_to "New category", new_admin_project_category_path, class: "ml-auto btn btn-primary" if policy(ProjectCategory).create? %>
</header>

<div data-controller="sortable" data-sortable-url-value="<%= admin_sortables_path %>">
  <ul data-sortable-target="list">
    <%= render @project_categories %>
  </ul>
</div>
