<%= content_tag :li, id: dom_id(activity), class: dom_class(activity) do %>
  <div class="flex items-center py-3 border-b border-stone-200">
    <%= emoji_for(activity.action) %>

    <p class="ml-2 text-sm">
      <%= full_activity_summary(activity) %>
    </p>

    <span class="ml-auto text-sm text-stone-500">
      <%= local_time_ago(activity.created_at) %>
    </span>
  </div>
<% end %>
