<header class="page-header">
  <h1><%= title "Editing product" %></h1>
  <%= link_to "Show product", admin_product_path(@product), class: "ml-auto btn btn-primary" %>
</header>

<%= render "form", product: @product %>
