<header class="page-header">
  <h1><%= title "Users" %></h1>
  <%= link_to "New user", new_admin_user_path, class: "ml-auto" %>
</header>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "Show this user", admin_user_path(user) %>
    </p>
  <% end %>
</div>
