<header class="page-header">
  <h1><%= title "Users" %></h1>
  <%= link_to "New user", new_admin_user_path, class: "ml-auto btn btn-primary" %>
</header>

<div id="users">
  <table class="table table-index">
    <thead>
      <tr>
        <th class="th">Name</th>
        <th class="th">Email</th>
        <th class="th th-badge">Role</th>
        <th class="th th-time">Created</th>
        <th class="th th-actions">Actions</th>
      </tr>
    </thead>

    <tbody>
      <%= render @users %>
    </tbody>
  </table>
</div>
