<header class="page-header">
  <h1><%= title "Editing supplier" %></h1>
  <%= link_to "Show supplier", admin_supplier_path(@supplier), class: "ml-auto btn btn-primary" %>
</header>

<%= render "form", supplier: @supplier %>
