<ul class="flex items-center text-sm">
  <li>
    <strong><%= Current.user.name %></strong>
  </li>
  <li class="flex items-center">
    <svg class="flex-shrink-0 h-5 w-5 text-neutral-300 dark:text-neutral-700" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
      <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z" />
    </svg>
    <%= link_to "Edit profile", admin_profile_path, class: "link" %>
  </li>
  <li class="flex items-center">
    <svg class="flex-shrink-0 h-5 w-5 text-neutral-300 dark:text-neutral-700" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
      <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z" />
    </svg>
    <%= link_to "Log out", logout_path, class: "link" %>
  </li>
</ul>
