<section class="fixed z-50 inset-0 flex flex-col items-center gap-2 p-2 pointer-events-none">
  <% flash.each do |level, message| %>
    <%= content_tag :output, message, class: "flash flash-#{level}", data: { controller: "flash" } %>
  <% end %>
</section>
